apiVersion: v1
kind: ConfigMap
metadata:
  name: free5gc-upfb-conf
  namespace: 5gcore
data:
  upfcfgb.yaml: |
    info:
      version: 1.0.0
      description: UPF configuration

    configuration:
      # debugLevel: panic|fatal|error|warn|info|debug|trace
      debugLevel: info

      pfcp:
        - addr: 0.0.0.0

      gtpu:
        - addr: upfb
        # [optional] gtpu.name
        # - name: upf.5gc.nctu.me
        # [optional] gtpu.ifname
        # - ifname: gtpif

      apn_list:
        - apn: internet
          cidr: 60.60.0.0/24
          # [optional] apn_list[*].natifname
          # natifname: eth0
